page-login {
  .bg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    background-size: cover;
    color: #fe8189;

    margin: 0;
    background: url('../../assets/uimage/bg.jpg') no-repeat fixed;
    background-size: cover;
  }
  .input-bg{
    //b
    //#004097
    background-color: transparent;
    border: none;
    border-radius: 44px;
    color: white;
    height: 60px;
  }
  .sub-bg{
    //b
    //#004097
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 27.5px;
    height: 42px;
  }
}
